.page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #ffc1d1;
    margin: none;

}

.left-part{
    display: flex;
    max-width: 80vw;
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img{
    height: fit-content;
    max-width: 40vw;
    opacity: 0.8;

}

.logo-part{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    opacity: 0.5;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Higher jump;
    position: absolute;
    left: 0%;
    top: 50%;
}

.odin-logo{
    max-height: 80px;
    margin-right: 10px;
}

.right-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex: 1;
    

}

.txt-1{
    width: 100%;
    max-width: 600px;
    margin-left: 70px;
    font-size: 19px;
    margin-bottom: 10px;
}

.bottom-part{
    margin-top: 50px;
    box-shadow: 2px 10px 30px 5px black;
    padding: 30px;
    background-color: #dc2150;
    width: 40vw;

}

.inp-sec{
    margin-left: 70px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;   
}

.inp-box{
    padding: 5px;
    border-top: 10px;
    width: 100%;
    max-width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid black;
}
.create-btn{
    margin-left: 70px;
    margin-top: 30px;
    height: 40px;
    width: 130px;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
}

input:focus{
    border: none;
    box-shadow: 5px 5px 10px #5a87e1;
}

@font-face {
    font-family: 'Higher Jump';
    src: url('fonts/higher-jump.regular.ttf') format('truetype');
}

@media (max-width: 600px) {
    body{
        background-image: url('images/image.webp');
        background-size: cover;
        color: rgb(255, 255, 255);
    }
    .page{
        flex-direction: column;
    }
    .left-part{
        width: 100vw;
        position: relative;
    }
    .img{
        display: none;
    }
    .logo-part{
        width: 100%;
        height: 50px;
        font-size: 15px;
        top: 0%;
        white-space: nowrap;
    }
    .right-part{
        width: 100%;
        position: absolute;
        margin-top: 50px;
    }
    .txt-1{
        margin-left: 0px;
    }
    .bottom-part{
        width: 80vw;
    }
    .inp-sec{
        margin-left: 0px;
        flex-direction: column;
    }
    .inp-part{
        display: flex;
        justify-content: space-between;
    }
    .create-btn{
        margin-left: 0px;
    }
}